<h2>Plan Detail</h2>
<h3><i>FormControl in a FormGroup</i></h3>
<form [formGroup]="planForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Username:
      <input class="form-control" formControlName="username">
    </label>
  </div>

  <div formArrayName="applications" class="well well-lg">
    <div *ngFor="let application of applications.controls; let i=index" [formGroupName]="i" >
      <!-- The repeated address template -->
      <h4>Applications</h4>
      <div class="form-group">
        <label class="center-block">Title:
          <input class="form-control" formControlName="title">
        </label>
      </div>
    </div>
  </div>



<p>App title value: {{ planForm.get('applications.title').value}}</p>

  <!--
<div formGroupName="components" class="well well-lg">
  <h4>Components</h4>
  <div class="form-group">
    <label class="center-block">Title:
      <input class="form-control" formControlName="title">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Description:
      <input class="form-control" formControlName="description">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">URL:
      <input class="form-control" formControlName="url">
    </label>
  </div>
</div>

<p>App component title value: {{ planForm.get('applications.components.title').value}}</p>

<div formGroupName="componentTutorials" class="well well-lg">
  <h4>Component Tutorials</h4>
  <div class="form-group">
    <label class="center-block">Title:
      <input class="form-control" formControlName="title">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">URL:
      <input class="form-control" formControlName="url">
    </label>
  </div>
</div>

  <p>App component Tutorial title value: {{ planForm.get('componentTutorials.title').value}}</p>
  -->

</form>

<p>Form value: {{ planForm.value | json }}</p>
<p>Form status: {{ planForm.status | json }}</p>
